.footer {
    background-color: $dark-blue;
    padding: 80px 0;
    &-container {
        max-width: 1200px;
        padding: 0 20px;
        gap: 50px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-icons {
        display: flex;
        gap: 20px;
        margin-top: 40px;
        .logo-icon {
            cursor: pointer;
        }
    }

    &-copyright {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 20px;
        span {
            color: $grayish-blue;
        }
    }
    &-nav {
        display: flex;
        gap: 50px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            a {
                color: $light-grayish-blue;

                &:hover {
                    color: $lime-green;
                }
            }

        }

    }

}

// responsive 




@media screen and (max-width  : 800px) {
    .footer {        
        &-copyright {
            align-items: start !important;
        }
     
       
    }
    
}

@media screen and (max-width  : 640px) {
    .footer {
        padding: 40px 0;
        &-container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &-copyright {
            align-items: center !important;
        }
        &-nav {
            flex-direction: column;
            gap : 20px;
            ul {
                align-items: center;
            }
        }
       
    }
    
}